*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 30px;
	font-family: sans-serif;
	background: white;
}

.container{
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.david-text-box{
	box-shadow: 30px 10px 10px rgba(0, 0, 0, 0.2);
	height: 300px;
	width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, blue, whitesmoke);
	color: black;
	margin: 100px 0;
	border-radius: 10px;

}

.tom-text-box{
	box-shadow: 30px 10px 10px rgba(0, 0, 0, 0.2);
	height: 300px;
	width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to left, lightblue, whitesmoke);
	color: black;
	margin: 100px 0;
	border-radius: 10px;

}